@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Global style */
*{
   margin: 0;
    padding: 0;

}
body{
    font-family: Fira Sans;
    background-color: #f5f5f5;
}
.title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 30px;
}
.btn{
    border-radius: 8px;
     margin: 24px 0;
    background: rgb(84, 144, 245);
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: aqua;
}
/* section style */
/* header section */
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 160px;
    
}
nav>p{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    
    margin: 0px 10px;
}
nav>button>a{
    text-decoration: none;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-weight: bold;

}
nav>button:hover{
    background-color: #aae4ee;
}
nav>button{
    box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
width: 116px;
height: 52px;
align-items: center;
margin: 0px 10px;
cursor: pointer;

}
.header-contant{
    display: flex;
    margin: 0 160px 0 160px;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
    padding: 80px 100px;

    background: rgb(198, 228, 214);
    gap: 30px;
}

.header-contant>.frist>p{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
}
.header-contant>.frist>h1{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 52px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;

}
.header-contant>.frist>button{
    padding: 20px 34px;
    border-radius: 8px;
    cursor: pointer;

    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border: none;
margin-top: 24px;
}
.header-contant>.frist>button:hover{
    background-color: #28a074;
    transition: 1s;
}
.frist>img{
    max-width: auto;
    width: 300px;
    height: 300px;
}
/* header end */
/* main section */
/* fist pillers */
.section-frist{
    margin: 80px 160px;
}
.pillers{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}
.piller{
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(255, 255, 255);
    
}
.piller>h2{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0;
}
.piller>p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
/* end pillers */
/* The Vision of Future */

.frist1{
    background: rgb(9, 161, 92) 
}
.frist1:hover{
    background-color: aqua;
}
.frist3{
    background: rgb(255, 194, 57)
}
.frist3:hover{
    background-color: aqua;
}
.vision{
margin: 80px 160px;
}
.vision>.title>p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0;
}
.futures{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}
.future{
    box-sizing: border-box;
    border-radius: 16px;

    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
    margin: 0 24px;
}
.future>h2{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0;
}
.future>p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* Dr. Muhammad Yunus */
.yunus{
    background: rgb(255, 255, 255);
    margin: 80px 160px;
    padding: 48px 24px 48px 24px;
    
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

   
}
.yunus-box{
   
    background-image: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
    padding-top: 20px;
}
.yunus>div>p{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
}
.yunus>div>h2{
   margin-top: 12px;
   margin-bottom: 4px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
/* Your Opinion Matters */
.matters{
    margin: 80px 160px;
}
.contaniear{
    
  padding: 20px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}
.openion-box{
    border: 1px solid #ccc;
    overflow: hidden;
}
.header{
    display: flex;
    font-weight: bold;
    padding: 10px;
}
.colam{
    flex: 1;
    text-align: center;
}
.row{
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
}
.row:nth-child(even) {
    background: #f8f9fa;
  }
.question{
    flex: 2;
    padding: 5px;
}  
.dropdown{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
select{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
/* Recent News */
.resent-btn{
    border-radius: 8px;
    margin: 24px 0;
    background: rgb(0, 106, 80);
   padding: 11px 20px 11px 20px;
   color: rgb(255, 255, 255);
   font-family: Fira Sans;
   font-size: 16px;
   font-weight: 600;
   line-height: 19px;
   letter-spacing: 0%;
   text-align: left;
   border: none; 
   cursor: pointer;
}
.resent-btn:hover{
    background: rgb(6, 63, 49);
    transition: 1s;
}
.news>p{
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.contant-news{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    margin: 20px 0;
    
    background: rgb(255, 255, 255);
    }
    .contant-news>.photo >img{
        position: static;
        width: 408px;
        height: 306px;
        border-radius: 24px;
    } 
 .description>p{
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
 }  
 .description{
    width: 744px;
    height: 290px;
    
 }  
 .sub-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    argin: 12px 0px;
 }
 /* Donate Today */
 .donate{
    margin: 80px 160px;
 }
 .donate>h1{
    text-align: center;
 }
 .donate>p{
    text-align: center;
    margin: 0px 24px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
 }
 .money-card{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
    gap: 24px;
    
 }
 .money{
    box-sizing: border-box;
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(255, 255, 255);
 }
 .money:hover{
    background-color: #b3e2e0;
 }
 .money>h1{
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    }
    .toko{
        background: rgb(198, 228, 214);
    }
    .taka{
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(14, 14, 14, 0.15);
        background: rgb(255, 255, 255);
        margin: 32px 0px;
        width: 1032px;
        height: 64px;
    } 
 .sub-sutton{
    text-align: center;
 }   
::placeholder{
    text-align: center;
}
.newslatter{
    border-radius: 24px;
    margin: 80px 160px;


background: rgb(198, 228, 214);
padding: 80px 100px 80px 100px;
}
.newslatter>div>input{
    
   
    padding: 18px 40px 18px 40px;
    border-radius: 8px 0px 0px 8px;

    background: rgb(255, 255, 255);
    border: none;
    flex-grow: 1;
    width: 500px;

    
}
.newslatter> div>input::placeholder {
    color: #aaa;
}
.newslatter>div>button{
   

margin: 0px 0px;
border-radius: 0px 8px 8px 0px;

background: rgb(0, 106, 80);
padding: 18px 40px 18px 40px;
text-align: center;
border: none;
margin: 0;
outline: none;
cursor: pointer;

}
.subscribe{
    display: flex;
    

}
.newslatter> div>button:hover {
    background-color: #005f3e;
}
.title-news{
    margin: 16px 0px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.newslatter>p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin: 16px 0px;
}
/* footer */
footer{
    padding: 50px 160px 50px 160px;
    background: rgb(255, 255, 255);  
}  
footer>h1{
    margin: 16px 0px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
}
footer>div{
   

   margin-top: 60px;
   text-align: center;
   gap: 20px;
   display: flex;
   justify-content: center;

}
footer>div>img{
  

}
hr{
    opacity: 0.2;
    margin-top: 20px;
}